{% extends 'eshop/base.html' %}
{% block title %}
Reset Password
{% endblock %}
{% block style %}
input {
width: 100%;
border: solid 2px #00e946;
border-radius: 10px;
padding: 5px;
}
.btn {
	border: solid 2px rgb(0, 132, 255);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
}

{% endblock %}
{% block body %}

<div class="container">
	<div class="col-md-6 mx-auto text-center" style="border-radius: 30px; border: solid 2px rgb(226, 226, 226)">
		<br />
		<br />
		<br />
		<h5>
			You will recieve an email to reset the password.
			<b>write your registered email</b>
		</h5>
		<br />
		<div class="col-md-8 mx-auto">
			<form method="post">
				{% csrf_token %}
				{{ form }} 
				<br />
				<br />
				<button type="submit" class="btn px-5 py-2 bg-white">
					Send
				</button>
				</form>
				<br />
				<br />
				<br />
		</div>
	</div>
</div>

<br />
<br />
{% endblock %}