{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/thankyou.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <title>Thank You!</title>
    <style>
        @font-face {
            font-family: longshot;
            src: url("{% static 'fonts/Long_Shot.ttf' %}");
        }

        #btn1 {
            background-image: url("{% static 'img/orange.jpg' %}");
        }
    </style>
</head>

<body>

    <img id="bev" src="{% static 'img/Bandeve.png' %}" alt="">
    <div id="icons">
        <a href="#"><i id="icon" class="fab fa-facebook-f fa-2x"></i></a>
        <a href="#"><i id="icon" class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i id="icon" class="fab fa-instagram fa-2x"></i></a>
    </div>
    <p id="ty">Thank You!</p>
    <p id="tid">Your ID is {{id}}</p>
    <p id="tid2">Your Visitor ID has been sent to your email </p>
    <p id="sy">See You at BandEve</p>
    <img id="smi" src="{% static 'img/Vector.png' %}" alt="">

    <p id="address">Venue: NIT Agartala, Agartala, West Tripura</p>
    <p id="contact">bandeve.dad@gmail.com | +911234567890</p>

    <a id="btn1" href="/">HOME</a>
    <a id="btn2" href="{% url 'form' %}">GRAB MORE PASSES</a>


    <script src="{% static 'index.js' %}"></script>
</body>

</html>